.github-corner:hover .octo-arm {
	animation: octocat-wave 560ms ease-in-out
}

button {
	width: 90px;
	height: 30px;
	margin-left: 8%;
	background: darkgreen;
	color: white;
	font-weight: 700;
	border: none;
	border-radius: 11%;
	box-shadow: 2px 3px black;
}
}

button:hover {
	transform: scale(1.02);
	background-color: green;
	cursor: pointer;
}

#next-number {
	height: 2.12%;
	top: 1.15%;
	position: absolute;
}

#display-pattern {
    display: inline-block;
}

#display-pattern span {
    border: 1px solid;
    padding: 0.2em;
    margin-right: 0.2em;
}

#next-number {
    width: 1.5em;
    padding: 0.3em;
    vertical-align: bottom;
    border: 1px solid;
}

#hint {
    display: none;
}

#hint::before {
    content: "Hint: "
}

@keyframes octocat-wave {
	0%, 100% {
		transform:rotate(0)
	}
	20%, 60% {
		transform:rotate(-25deg)
	}
	40%, 80% {
		transform:rotate(10deg)
	}
}
