#display-pattern {
    display: inline-block;
}

#display-pattern span {
    border: 1px solid;
    padding: 0.2em;
    margin-right: 0.2em;
}

#next-number {
    width: 1.5em;
    padding: 0.3em;
    vertical-align: bottom;
    border: 1px solid;
}

#hint {
    display: none;
}

#hint::before {
    content: "Hint: "
}

#next-pattern {
}